/*main.css*/

body {
	src: local('Droid Sans'), url(http://fonts.googleapis.com/css?family=Droid+Sans);
    font-family: 'Droid Sans', serif;
    font-weight: 100;
	width: 100%;
	margin: auto;

/*	background:url(../images/berkeley2.jpg) no-repeat center center fixed;
	background-size: cover;*/
}

h1 {
	color: #434D7B;
	font-size: 40px;
}

h2, h3{
	color: #417DD6;
}

p {
	color: black;
}

.header {
	top = 0;
	width: 100%;
	position: fixed;
	margin-right: 500px;
	background: #434D7B;
	height: 47px;
}

a {
	text-decoration: none;
	color: white;
}

b {
	color: #417DD6;
}

.resume a {
	text-decoration: none;
	color: #FB1D5E;
}

.contact a{
	text-decoration: none;
	color: #FB1D5E;
}

.nav li {
	list-style: none;
	float: left;
	margin-left: 5%;
}

.nav {
	width: 100%;
	float: right;
/*	margin-right: 10%;*/
}

/*.content:before{
   content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url(../images/berkeley6.jpg);
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}*/

.content {
	width: 55%;
	margin: 0 auto;
}