/*main.css*/

body {
	src: local('Open Sans'), url(https://fonts.googleapis.com/css?family=Open+Sans);
    font-family: 'Open Sans', serif;
    font-weight: 100;
	width: 100%;
	margin: auto;
	/*background-color*/
	/*background: url(../images/berkeleycampus.jpg) no-repeat center center fixed;;*/
	/*background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/berkeleycampus.jpg) no-repeat center center fixed;
	background-size: cover;
	position: absoluteurl(../images/berkeleycampus.jpg) no-repeat center center fixed;;*/
}

h1 {
	color: #3D82C6;
	font-size: 40px;
}

h2, h3 {
	color: #3D82C6;
}

.mycaption h3 {
	color: #FA8B1C;
}

p {
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

b {
	color: #FA8B1C;
}

.resume a {
	text-decoration: none;
	color: #FB1D5E;
}

.contact a{
	text-decoration: none;
	color: #FB1D5E;
}

.header {
	/*width: 100%;
*/	/*position: fixed;*/
	/*margin-right: 500px;*/
	background: #3D82C6;
	height: 50px;
	width: 100%;
    position:fixed;
    z-index: 1;
/*	top: 0px;*/
	/*position:fixed;
*/}

.nav li {
	list-style: none;
	float: left;
	margin-left: 50px; /*spacing for navigation*/
}

.nav {
	float: left;
}

/*.content:before{
   content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url(../images/berkeleycampus.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/

.content {
	top: 5%;
	position: absolute;
	width: 850px;
	margin-left: 100px;
/*	margin-right: 900px;*/
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/berkeleycampus.jpg);*/
}

.hometext {
	/*margin-left: 200px;
*/	width: 400px;
}

.hometitle {
	margin-left: 300px;
}

.homepic {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	/*-webkit-border-radius: 150px;
	-moz-border-radius: 150px;*/
}
