/*main.css*/

body {
	src: local('Droid Sans'), url(http://fonts.googleapis.com/css?family=Droid+Sans);
    font-family: 'Droid Sans', serif;
    font-weight: 100;
	width: 100%;
	margin: auto;
}

h1 {
	color: #0048AA;
	font-size: 40px;
}

h2, h3{
	color: #417DD6;
}

p {
	color: black;
}

.header {
	top = 0;
	width: 100%;
	position: fixed;
	margin-right: 500px;
	background: white;
	height: 47px;
}

a {
	text-decoration: none;
	color: #FB1D5E;
}

.nav li {
	list-style: none;
	float: left;
	margin-left: 250px;
}

.nav {
	width: 100%;
	float: right;
	margin-right: 100px;
}

.content {
	width: 55%;
	margin: 0 auto;
}
