/*main.css*/

body {
	src: local('Open Sans'), url(https://fonts.googleapis.com/css?family=Open+Sans);
    font-family: 'Open Sans', serif;
    font-weight: 100;
	width: 100%;
	margin: auto;
	/*background-color: #F9FFFF;*/
	background-color: #F6F8F7;
}

h1 {
	color: #3C3C3C;
	font-size: 45px;
}

h3 {
	color: #3D82C6;
}

h2 {
	color: black;
}

.mycaption h3 {
	color: #F89307;
}

p {
	color: #3C3C3C;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	color: #C8EFCB;
}

b {
	color: #FA8B1C;
}

li {
	color: #787878;
	font-size: 14px;
}

.resume a {
	text-decoration: none;
	color: #FB1D5E;
}

.resume a:hover {
	text-decoration: underline;
}

.contact a{
	text-decoration: none;
	color: #FB1D5E;
}

.header {
	background: #242E3F;
	height: 50px;
	width: 100%;
    position:fixed;
    z-index: 1;
}

.nav li {
	list-style: none;
	float: left;
	margin-left: 50px; /*spacing for navigation*/
}

.nav {
	float: left;
}

.content {
	top: 5%;
	position: absolute;
	width: 850px;
	margin-left: 100px;
}

.hometext {
	/*margin-left: 200px;
*/	width: 400px;
}

.hometitle {
	margin-left: 300px;
}

.homepic {
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

.dates p {
	color: #FA8B1C;
	line-height: 0%;
}

.languages p{
	color: #FA8B1C;
	line-height: 0%;
}
.helloworld {
	font-size: 28px;
}