/*main.css*/

body {
	src: local('Open Sans'), url(https://fonts.googleapis.com/css?family=Open+Sans);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
	width: 100%;
	margin: auto;
	background-color: white;
}

h1 {
	color: white;
	font-size: 50px;
}

h3 {
	color: #195BAE;
}

h2 {
	color: black;
}

.mycaption h3 {
	color: #BAE572;
}

p {
	color: #3C3C3C;
}

a {
	text-decoration: none;
	color: #195BAE;
}

a:hover{
	color: #67C549;
}

b {
	color: #195BAE;
}

li {
	color: #787878;
	font-size: 14px;
}

.resume a {
	text-decoration: none;
	color: orange;
}

.resume a:hover {
	text-decoration: underline;
}

.contact a{
	text-decoration: none;
	color: #FB1D5E;
}

.header {
	background: white;
	height: 35px;
	width: 100%;
    position:fixed;
    z-index: 1;
}

.nav th {
	list-style: none;
	float: left;
	font-size: 14px;
	font-weight: 100;
	padding: 0;
}

.nav td {
	vertical-align: middle;
	text-align: center;
}

.nav table {
	 border: none;
	 border-collapse: collapse;
}

.nav a {
	font-size: 14px;
}

.nav {
	float: left;
}

.content {
	top: 20px;
	position: absolute;
	width: 850px;
	margin-left: 100px;
}

.hometext {
	/*margin-left: 200px;
*/	width: 400px;
}

.hometitle {
	margin-left: 300px;
}

.homepic {
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

.dates p {
	color: #25A8C5;
	line-height: 0%;
}

.languages p{
	color: #25A8C5;
	line-height: 0%;
}
.helloworld {
	font-size: 28px;
}

.image {
/*   height: 209px;*/
   /*width:100%;*/
   position: absolute;
   content:url("../images/bluegears2.png");
}​