
body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
    font-family:"Arvo";
	font-weight:lighter;
	font-size: 70px;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 150%;
}

h2 {
   font-family:"Arvo";
   font-weight: lighter;
   font-size: 28px;
   text-align: center;
   margin: 0;
   padding: 0;
   line-height: 150%;
}

h3 {
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 16px;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	line-height: 150%;
}

h4 {
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 14px;
    margin: 5px 0;
	padding: 0;
	z-index: 1;
	line-height: 150%;
}

p {
	font-family: "Arvo";
    font-weight: lighter;
    font-size: 14px;
    margin: 5px 0;
	padding: 0;
	z-index: 1;
	line-height: 150%;
}

ul {
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 14px;
    margin: 5px 18px;
	padding: 0;
	z-index: 1;	
	line-height: 140%;
}

tr {
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
	padding: 0;
}

hr {
	border-top: 0px;
	height: 1px;
    /* Set the hr color */
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 900px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 10px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 10px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }
/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header { 
	width: 100%; 
	height: 42px; 	
	position: fixed;
	margin-top: 0px;
	background-color: black;
	z-index: 1;
	overflow: hidden;
}

#nav { width:800px; float: right; margin-top: 3px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: lighter; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 36px;
}

#nav li a { color: white; font-size: 13px; text-decoration: none; font-family: 'Arvo'; }
#nav li a.active { color: white; opacity:1; border-bottom: 2px ; text-decoration: none}
#nav li a:hover { color: #FFDB99; opacity:1; }

#nav2 ul{
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav2 li{
	margin-top: 70px;	
	float: center;
	padding: 30px 0 100px 380px;
}

#nav2 li a { color: #F6FF87; font-size: 22px; text-decoration: none; font-family: 'Arvo'; }
#nav2 li a:hover { color: white; opacity:1; }


/*= BUTTONS
--------------------------------------------------------*/

button.btn-know { 
	padding: 15px 47px; 
	margin: 40px 38.8%;
	text-align: center;
	border: 4px solid #fff; 
	color: #fff; 
	background: transparent; 
	font-size: 19px;
	cursor: pointer;
	text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-know:hover { background: #fff; color: transparent; }
ul.built { list-style: none; margin: 0 auto; width: 730px; }
.built li img{ float: left; padding-right: 34px; }



/*= SLIDES STYLING
--------------------------------------------------------*/

#home, #about{ width: 100%; }

#home {
	background:url('../img/city5.jpg') 10% 0 no-repeat;
	color: white;
	height: 500px;
	width: 100%;
	margin: 0;
	padding: 150px 0 260px 0;
	background-size: cover;
}

#home h2{
	text-align: center;
}

#about {
	background:url('../img/code2.png') 50% 0 no-repeat;
	color: black;
	height: 450px;
	width: 100%;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#about h1,h2 {
	text-align: center;
	font-weight: lighter;
	line-height: 100%;
}

#about h3 {
	font-size: 15px;
	font-weight: lighter;
}

#about h4 {
	line-height: 100%;
}

#education {
	background:url('../img/yellowpaper1.jpg') 20% 0 no-repeat;
	background-size: cover;
	/*background-color: #fff;*/
	color: #333333;
	height: 1600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 90px 0;
/*	text-align: left;*/
}

#logoedu {
	margin-left: 210px;
}

#education h1, h2 {
	text-align: left;
}

#education hr {
	color: black; /* old IE */
    background-color: black; /* Modern Browsers */
    border: 0;
}

#experience {
	background:url('../img/network.png') 20% 0 no-repeat;
	background-size: cover;
	color: #fff;
	height: 1000px;
	padding: 90px 0 0 0;	
	background-size: cover;
}

#experience h1 {
	text-align: left;
}

#experience h2 {
	text-align: left;
	color: #FFDC00;
}

#experience h3 {
	text-align: left;
	color: #D5F7FF;
}

#logoexperience {
	margin-left: 200px;
}

#titleexperience {
	margin-left: 315px;
}

#experience hr {
	color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    border: 0;
}

#projects {
	background-color: #1D1E1A;
	/*background:url('../img/dark.jpg') 25% 0 no-repeat;
	background-size: cover;*/
	color: white;
	height: 3800px;
	padding: 90px 0;
}

#projects h1{
	text-align: left;
}

#projects h2 {
	text-align: left;
/*	color: #53D1ED;*/
	color: #96E30B;
}

#projects h4 {
	text-align: left;
/*	color: #96E30B;*/
	color: #E0D75A;
}


#projects a {
	color: yellow;
	font-weight: lighter;
}

#logoprojects {
	margin-left: 230px;
}

#titleprojects {
	margin-left: 330px;
}

#projects hr {
	color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    border: 0;
}

#projects a { color: #F7005E; font-size: 24px; text-decoration: none; font-family: 'Arvo'; }
#projects a:hover { color: #F7005E; opacity:1; text-decoration: underline;}

#extracurriculars{
	/*background:url('../img/zzzz.jpg') 80% 0 no-repeat;
	background-size: cover;*/
	background-color: white;
	height: 3800px;
	margin: 0 auto;
	padding: 90px 0;
	color: black;
}

#extracurriculars h1{
	text-align: left;
}

#extracurriculars h2 {
	text-align: left;
	color: #0078EC;
}

#extracurriculars h3 {
	text-align: left;
	color: orange;
}

#logoextracurriculars {
	margin-left: 110px;
}

#titleextracurriculars {
	margin-left: 210px;
}

#extracurriculars hr {
	color: black; /* old IE */
    background-color: black; /* Modern Browsers */
    border: 0;
}

#contact{
	background:url('../img/coffee1.jpg') 50% 0 no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 90px 0;
	color: white;
}

#contact hr {
	color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    border: 0;
}

#contact h1 {
	text-align: left;
}

#contact h2 {
	text-align: left;
}

#contact h3 {
	text-align: left;
	font-size: 18px;
}

#logocontact {
	margin-left: 250px;
}

#titlecontact {
	margin-left: 350px;
}

#contact a { color: yellow; font-size: 14px; text-decoration: none; font-family: 'Arvo'; }
#contact a:hover { color: yellow; opacity:1; text-decoration: underline;}


/*= FOOTER 
--------------------------------------------------------*/

#copyright  { color: #fff; font-family:"Wellfleet";  font-size: 14px; margin-top: 100px; text-align: center;  }
#copyright  a { text-decoration: none; color: #fff;  }